div.well{
    height: 250px;
}

.absolute-Center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.absolute-Center.is-Responsive {
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    margin-top: 20%;
}

.created-by {
    text-align: right;
    padding: 10px 0;
}